/*css de l'acive'*/
.lienp.active{
    background-color: rebeccapurple;
}

#fleche{
    width: 50px;
}
#flechetot{
    text-align: left;
    margin: 0 0 0 20px ;
    display: none;

}

.nosServices a{
    color: whitesmoke;
}


#imageSlide {
    text-align: center;
    animation: change 1s ease forwards;
}


#imageSlide img{
    width: 60%;
    height: 80% ;
}




















@media screen and (max-width: 900px) {

    .gridGauche{
        display: none;
    }
    .grid{
        display: grid;
        grid-template-columns: 100%;
    }
    #flechetot{
        display: block;
    }
}
